.header{
  height: 100px;
  width: 100%;
  background-image:linear-gradient(0deg,rgba(255, 255, 255, 0.01),rgb(0, 0, 0));
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}
.logo{
   width: 100%;
   height: 100%;
   object-fit: contain;
}
.logo-div{
  width: 400px;
  height: 64px;
}
.links{
  width: 365px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  margin-right: 45PX;
}
.link{
 text-decoration: none;
 color: #fff;
 font-weight: 500; 
 font-size: 17px;
}
.link:hover,.link:active{
  color: #f700ff;
}
.link:focus{
  color: #0d00ff;
}
.menu-btn{
  width: 40px;
  height: 30px;
  border: none;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  background: none;
  display: none;
}
.sidebar{
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #00000053;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
}
.link-clicked{
  width: 100%;
  height:50px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500; 
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .link-clicked:hover,.link-clicked:active{
  background-color: rgb(200, 197, 197);
  color: #000;
}
.cancel-btn{
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  margin-left: 15px;
}
@media(max-width:590px){
  .logo-div{
    width: 200px;
  }
  .links{
    align-items: center;
    justify-content: flex-end;
  }
  .link{
    display: none;
  }
  .menu-btn{
    display: block;
    margin-right: 20px;
  }
}